html {
  scroll-behavior: smooth; }

body {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #242321; }

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px; }

.adv {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #242321;
  font-size: 14px;
  line-height: 28px; }
  .adv .text {
    color: #FCEC4F;
    margin: 11px 0 13px;
    margin-right: 28px;
    flex-basis: 550px; }
  .adv .btn {
    display: inline-block;
    width: 16px;
    background-color: transparent;
    cursor: pointer;
    position: relative; }
    .adv .btn .line {
      position: absolute;
      left: 0;
      top: -2px;
      width: 100%;
      height: 2px;
      background-color: #FCEC4F; }
      .adv .btn .line:nth-child(1) {
        transform: rotate(45deg); }
      .adv .btn .line:nth-child(2) {
        transform: rotate(-45deg); }

.header__inner {
  display: flex;
  justify-content: space-between; }
  .header__inner .info {
    display: flex; }
    .header__inner .info-item {
      margin: 19px 0 3px 16px; }
    .header__inner .info .text {
      max-width: 248px;
      font-weight: 700;
      line-height: 22px;
      margin-bottom: 3px; }
      .header__inner .info .text-grey {
        color: #989898;
        font-size: 14px;
        font-weight: 500; }
  .header__inner .contacts {
    display: flex;
    margin-top: 34px; }
    .header__inner .contacts .wrapper {
      display: flex;
      font-weight: 700;
      font-size: 14px;
      line-height: 26px; }
      .header__inner .contacts .wrapper .address {
        margin-right: 29px; }
  .header__inner .phone {
    display: flex; }
    .header__inner .phone-link {
      font-weight: 800;
      font-size: 20px;
      line-height: 26px; }
      .header__inner .phone-link span {
        color: #242321; }
  .header__inner .icone-img {
    display: inline-block;
    margin-right: 10px; }
.header .link {
  color: #989898;
  text-decoration: underline;
  font-weight: 300;
  font-size: 14px; }

.menu {
  background-color: #F5F5F9;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px; }
  .menu__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; }
  .menu__sub-1, .menu__sub-2, .menu__sub-3 {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(36, 35, 33, 0.07);
    position: absolute;
    top: 55px;
    left: 0;
    background: #FFF;
    display: flex;
    flex-direction: column;
    width: 100%; }
  .menu .item {
    display: flex;
    gap: 10px;
    flex-shrink: 0;
    flex-basis: fill;
    position: relative;
    padding: 19px 0; }
    .menu .item > a {
      color: #242321;
      text-decoration: none;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px; }
    .menu .item a.sub-link {
      color: #686868;
      padding: 17px 0; }
    .menu .item:hover .menu__sub-1,
    .menu .item:hover .menu__sub-2,
    .menu .item:hover .menu__sub-3 {
      visibility: visible;
      z-index: 1;
      opacity: 1;
      transition: all ease .3s; }
      .menu .item:hover .menu__sub-1 .sub-link:hover,
      .menu .item:hover .menu__sub-2 .sub-link:hover,
      .menu .item:hover .menu__sub-3 .sub-link:hover {
        color: #242321;
        background: #F8F8F8; }
    .menu .item:hover a.link-blue {
      color: #0088CF; }

.lk {
  display: flex;
  align-items: center;
  gap: 11px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px; }

.menu-line {
  position: relative;
  top: 7px;
  height: 0;
  width: 29px;
  border: 1px solid #C4C4C4;
  transform: rotate(90deg); }

.car__inner {
  position: relative; }
  .car__inner .text-grey {
    color: #989898;
    line-height: 26px;
    font-weight: 500; }
  .car__inner .text {
    margin: 105px 0 19px;
    max-width: 743px;
    font-size: 42px;
    font-weight: 900;
    line-height: 52px; }
    .car__inner .text-blue {
      color: #0088CF; }
  .car__inner .link {
    display: inline-block;
    margin: 73px 0 93px;
    padding: 21px 47px;
    background: #0088CF;
    border-radius: 5px;
    color: #FFF;
    border: 1px solid #0088CF;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 0.05em; }
    .car__inner .link:hover {
      background: #FFFFFF;
      border: 1px solid #0088CF;
      transition: all ease 500ms;
      color: #0088CF;
      transition: all ease 500ms; }
.car .big-bg-car {
  position: absolute;
  top: 0px;
  left: 530px;
  z-index: 1; }
.car .blue-rect {
  position: absolute;
  top: -150px;
  left: 950px;
  z-index: -2; }
.car .grey-rect {
  position: absolute;
  top: -150px;
  left: 1030px;
  z-index: -1; }

.section__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 65px; }

.advantage__text {
  max-width: 677px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 34px; }
.advantage__inner {
  display: flex;
  gap: 22px;
  margin-bottom: 96px; }
.advantage__item {
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 40px;
  flex-basis: 33%; }
  .advantage__item:hover {
    transition: all .3s;
    background: #0088CF;
    border-radius: 5px;
    color: #FFFFFF; }
  .advantage__item .title {
    font-weight: 900;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 8px; }
  .advantage__item .item-text {
    line-height: 26px; }

.suitable {
  background: #F5F5F9;
  line-height: 36px; }
  .suitable h1 {
    margin-bottom: 47px; }
  .suitable__inner {
    padding: 49px 0 80px; }
  .suitable__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 350px;
    grid-row-gap: 17px; }
    .suitable__items p {
      background: url(../../assets/img/icons/circle_mark.svg) 0 5px no-repeat;
      padding-left: 45px; }

.benefits__head {
  margin: 82px 0 45px;
  font-weight: 900;
  font-size: 30px;
  line-height: 46px;
  max-width: 645px; }
.benefits__statistics {
  background: #F5F5F9;
  border: 1px solid #0088CF;
  border-radius: 5px;
  margin-bottom: 59px; }
  .benefits__statistics-item {
    line-height: 36px;
    font-weight: 700;
    padding: 0 120px 0 63px;
    background: url(../../assets/img/icons/circle_mark.svg) 23px 5px no-repeat; }
.benefits__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 0; }
.benefits .list-1,
.benefits .list-2 {
  display: flex;
  justify-content: space-between;
  line-height: 28px;
  margin-bottom: 30px; }
.benefits .list-item {
  flex-basis: 26%;
  gap: 17px; }
.benefits .title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px; }
.benefits .list-item {
  display: flex; }

.documents__head {
  margin: 90px 0 65px;
  font-weight: 900;
  font-size: 30px;
  line-height: 45px; }
.documents__items {
  display: flex;
  justify-content: space-between; }
.documents__item {
  position: relative;
  background: #242321;
  border-radius: 5px;
  color: #FFF;
  flex-basis: 31%;
  font-weight: 700;
  font-size: 24px;
  text-align: center; }
  .documents__item-img {
    position: absolute;
    top: -35px;
    left: -35px; }
  .documents__item .p-img {
    position: absolute;
    top: 55px;
    left: 335px; }
.documents__name {
  padding: 48px 0; }

.catalog {
  font-weight: 500;
  font-size: 16px; }
  .catalog__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 104px 0 40px 0; }
  .catalog__link {
    background: #0088CF;
    border-radius: 5px;
    padding: 16px 30px;
    border: 1px solid #0088CF;
    color: #fff;
    font-weight: 700;
    line-height: 26px; }
    .catalog__link:hover {
      background: #FFFFFF;
      border: 1px solid #0088CF;
      transition: all ease 500ms;
      color: #0088CF;
      transition: all ease 500ms; }
  .catalog__items {
    display: flex;
    justify-content: space-between;
    gap: 20px; }
  .catalog__item {
    position: relative;
    border: 1px solid #E5E5E5;
    border-radius: 0px 0px 5px 5px; }
    .catalog__item:hover {
      transition: all ease 500ms;
      background: #F5F5F9;
      border: 1px solid #E5E5E5;
      border-radius: 0px 0px 5px 5px; }
  .catalog__name {
    font-weight: 900;
    font-size: 20px; }
  .catalog__wrapper {
    padding: 0 20px; }
    .catalog__wrapper p {
      padding: 10px 0;
      color: #0088CF; }
    .catalog__wrapper > .catalog__text {
      margin-bottom: 10px; }
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 37px; }
  .catalog__num {
    font-weight: 700;
    font-size: 16px; }
  .catalog-link {
    background: #F5F5F9;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #F5F5F9;
    text-align: center;
    padding: 20px 30px; }
    .catalog-link a {
      color: #242321;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0.05em; }
    .catalog-link:hover {
      background: #FFFFFF;
      border: 1px solid #0088CF;
      border-radius: 0px 0px 5px 5px;
      transition: all ease 500ms; }
      .catalog-link:hover a {
        color: #0088CF;
        transition: all ease 500ms; }
    .catalog-link:active {
      background: #0088CF;
      border-radius: 0px 0px 5px 5px; }
      .catalog-link:active a {
        color: #FFFFFF; }

.yellow {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  top: 25px;
  left: 20px;
  font-weight: 500;
  font-size: 11px; }
  .yellow-item {
    background: rgba(252, 236, 79, 0.77);
    border-radius: 5px;
    padding: 2px 10px; }
  .yellow .empty {
    min-height: 34px; }

.blue-items {
  position: absolute;
  top: 25px;
  left: 230px;
  font-weight: 500;
  font-size: 11px;
  background: #0088CF;
  border-radius: 5px;
  color: #FFF;
  text-align: center;
  padding: 2px 20px; }

.footer {
  font-size: 14px;
  line-height: 28px; }
  .footer__inner {
    margin-top: 70px;
    display: flex;
    justify-content: space-between; }
    .footer__inner .text-blue {
      color: #0088CF; }
  .footer__email {
    color: #0088CF; }
  .footer__phone {
    font-weight: 900;
    line-height: 45px;
    color: #242321; }
  .footer__info h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px; }
  .footer__menu {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px; }
  .footer__links {
    position: relative;
    margin: 40px 0;
    line-height: 0px; }
    .footer__links-inner {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .footer__links-inner > a {
        text-decoration: underline;
        color: #242321; }
    .footer__links .arrow-top {
      background: #0088CF;
      border-radius: 5px;
      padding: 24px 20px;
      position: absolute;
      top: 0px;
      left: 1250px; }
  .footer__links-icons {
    display: flex;
    gap: 10px; }
    .footer__links-icons a {
      background: #F5F5F9;
      border-radius: 5px; }
      .footer__links-icons a svg {
        max-width: 55px;
        max-height: 55px;
        padding: 16px 13px; }
      .footer__links-icons a:hover use {
        fill: #0088CF; }
  .footer__bottom {
    background: #242321;
    border-radius: 5px;
    color: #FCEC4F; }
    .footer__bottom-inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .footer__bottom-inner p {
        margin: 11px 0; }

.text-underline {
  text-decoration: underline; }
