$cblue:#0088CF;
$cblack:#242321;
$cgrey:#F5F5F9;
$fz-small:14px;
$fz-medium:20px;
$fz-big:30px;
html{
    scroll-behavior: smooth;
}
body {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: $cblack;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.adv{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $cblack;
    font-size: $fz-small;
    line-height: 28px;
    .text{
        color: #FCEC4F;
        margin: 11px 0 13px;
        margin-right: 28px;
        flex-basis: 550px;
    }
    .btn{
        display: inline-block;
        width: 16px;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        .line{
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 2px;
            background-color: #FCEC4F;
        
            &:nth-child(1) {
                transform: rotate(45deg);
            }
        
            &:nth-child(2) {
                transform: rotate(-45deg);
            }
        }
    }
}

.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        .info{
            display: flex;
            &-item{
                margin: 19px 0 3px 16px;
            }
            .text{
                max-width: 248px;
                font-weight: 700;
                line-height: 22px;
                margin-bottom: 3px;
                &-grey{
                    color: #989898;
                    font-size: $fz-small;
                    font-weight: 500;
                }
            }
        }
        .contacts{
            display: flex;
            margin-top: 34px;
            .wrapper{
                display: flex;
                font-weight: 700;
                font-size: $fz-small;
                line-height: 26px;
                .address{
                    margin-right: 29px;
                }
            }

        }
        .phone{
            display: flex;
            &-link{
                font-weight: 800;
                font-size: $fz-medium;
                line-height: 26px;
                span{
                    color: $cblack;
                }
            }
        }
        .icone-img{
            display: inline-block;
            margin-right: 10px;
        }
    }
    .link{
        color: #989898;
        text-decoration: underline;
        font-weight: 300;
        font-size: $fz-small;
    }
}

.menu {
    background-color: $cgrey;
    font-weight: 600;
    font-size: $fz-small;
    line-height: 17px;

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    &__sub-1,
    &__sub-2,
    &__sub-3 {
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        text-align: center;
        box-shadow: 0px 5px 15px rgba(36, 35, 33, 0.07);
        position: absolute;
        top: 55px;
        left: 0;
        background: #FFF;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .item {
        display: flex;
        gap: 10px;
        flex-shrink: 0;
        flex-basis: fill;
        position: relative;
        padding: 19px 0;
        >a{
            color: $cblack;
            text-decoration: none;
            font-weight: 600;
            font-size: $fz-small;
            line-height: 17px;
        }
        a.sub-link {
            color: #686868;
            padding: 17px 0;
        }
        &:hover {
            .menu__sub-1,
            .menu__sub-2,
            .menu__sub-3 {
                visibility: visible;
                z-index: 1;
                opacity: 1;
                transition: all ease .3s;
                .sub-link:hover {
                    color: $cblack;
                    background: #F8F8F8;
                }
            }
    
            a.link-blue {
                color: $cblue;
            }
        }
    }
}

.lk {
    display: flex;
    align-items: center;
    gap: 11px;
    font-weight: 700;
    font-size: $fz-small;
    line-height: 20px;
}

.menu-line {
    position: relative;
    top: 7px;
    height: 0;
    width: 29px;
    border: 1px solid #C4C4C4;
    transform: rotate(90deg);
}

.car {
    &__inner {
        position: relative;
        .text-grey{
            color: #989898;
            line-height: 26px;
            font-weight: 500;
        }
        .text {
            margin: 105px 0 19px;
            max-width: 743px;
            font-size: 42px;
            font-weight: 900;
            line-height: 52px;
            &-blue{
                color: $cblue;
            }
        }
        .link {
            display: inline-block;
            margin: 73px 0 93px;
            padding: 21px 47px;
            background: $cblue;
            border-radius: 5px;
            color: #FFF;
            border: 1px solid $cblue;
            font-weight: 900;
            line-height: 26px;
            letter-spacing: 0.05em; 
            &:hover{
                background: #FFFFFF;
                border: 1px solid $cblue;
                transition: all ease 500ms;
                color: $cblue;
                transition: all ease 500ms;
            }
        }
    }
    .big-bg-car {
        position: absolute;
        top: 0px;
        left: 530px;
        z-index: 1;
    }
    
    .blue-rect {
        position: absolute;
        top: -150px;
        left: 950px;
        z-index: -2;
    }
    
    .grey-rect {
        position: absolute;
        top: -150px;
        left: 1030px;
        z-index: -1;
    
    }
    
}
.section__title {
    font-weight: 900;
    font-size: $fz-big;
    line-height: 65px;
}

.advantage {
    &__text {
        max-width: 677px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 34px;
    }

    &__inner {
        display: flex;
        gap: 22px;
        margin-bottom: 96px;
    }

    &__item {
        border: 1px solid #E5E5E5;
        text-align: center;
        padding: 40px;
        flex-basis: 33%;

        &:hover {
            transition: all .3s;
            background: $cblue;
            border-radius: 5px;
            color: #FFFFFF;
        }
        .title {
            font-weight: 900;
            font-size: 20px;
            line-height: 36px;
            margin-bottom: 8px;
        }
        .item-text {
            line-height: 26px;
        }
    }
}


.suitable {
    background: $cgrey;
    line-height: 36px;
    h1 {
        margin-bottom: 47px;
    }
    &__inner {
        padding: 49px 0 80px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 350px;
        grid-row-gap: 17px;
        p {
            background: url(../../assets/img/icons/circle_mark.svg) 0 5px no-repeat;
            padding-left: 45px;
        }
    }
}

.benefits {
    &__head {
        margin: 82px 0 45px;
        font-weight: 900;
        font-size: $fz-big;
        line-height: 46px;
        max-width: 645px;
    }
    &__statistics {
        background: $cgrey;
        border: 1px solid $cblue;
        border-radius: 5px;
        margin-bottom: 59px;

        &-item {
            line-height: 36px;
            font-weight: 700;
            padding: 0 120px 0 63px;
            background: url(../../assets/img/icons/circle_mark.svg) 23px 5px no-repeat;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
    }

    .list-1,
    .list-2 {
        display: flex;
        justify-content: space-between;
        line-height: 28px;
        margin-bottom: 30px;
    }
    .list-item {
        flex-basis: 26%;
        gap: 17px;
    }
    .title {
        font-weight: 700;
        font-size: $fz-medium;
        margin-bottom: 10px;
    }
    .list-item {
        display: flex;
    }
}

.documents {
    &__head {
        margin: 90px 0 65px;
        font-weight: 900;
        font-size: $fz-big;
        line-height: 45px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        position: relative;
        background: $cblack;
        border-radius: 5px;
        color: #FFF;
        flex-basis: 31%;
        font-weight: 700;
        font-size: 24px;
        text-align: center;

        &-img {
            position: absolute;
            top: -35px;
            left: -35px;
        }
        .p-img {
            position: absolute;
            top: 55px;
            left: 335px;
        }
    }
    &__name {
        padding: 48px 0;
    }

}
.catalog {
    font-weight: 500;
    font-size: 16px;
    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 104px 0 40px 0;
    }

    &__link {
        background: $cblue;
        border-radius: 5px;
        padding: 16px 30px;
        border: 1px solid $cblue;
        color: #fff;
        font-weight: 700;
        line-height: 26px;
        &:hover{
            background: #FFFFFF;
            border: 1px solid $cblue;
            transition: all ease 500ms;
            color: $cblue;
            transition: all ease 500ms;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &__item {
        position: relative;
        border: 1px solid #E5E5E5;
        border-radius: 0px 0px 5px 5px;
        &:hover{
            transition: all ease 500ms;
            background: $cgrey;
            border: 1px solid #E5E5E5;
            border-radius: 0px 0px 5px 5px;
        }
    }
    &__name{
        font-weight: 900;
        font-size: $fz-medium;
    }

    &__wrapper {
        padding: 0 20px;
        p {
            padding: 10px 0;
            color: $cblue;
        }
        &>.catalog__text {
            margin-bottom: 10px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-bottom: 37px;
    }

    &__num {
        font-weight: 700;
        font-size: 16px;
    }

    &-link {
        background: $cgrey;
        border-radius: 0px 0px 5px 5px;
        border: 1px solid $cgrey;
        text-align: center;
        padding: 20px 30px;
        a {
            color: $cblack;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0.05em;
        }

        &:hover {
            background: #FFFFFF;
            border: 1px solid $cblue;
            border-radius: 0px 0px 5px 5px;
            transition: all ease 500ms;
            a {
                color: $cblue;
                transition: all ease 500ms;
            }
        }

        &:active {
            background: $cblue;
            border-radius: 0px 0px 5px 5px;
            a {
                color: #FFFFFF;
            }
        }
    }

}
.yellow {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 25px;
    left: 20px;
    font-weight: 500;
    font-size: 11px;
    &-item {
        background: rgba(252, 236, 79, 0.77);
        border-radius: 5px;
        padding: 2px 10px;
    }

    .empty {
        min-height: 34px;
    }
}
.blue-items {
    position: absolute;
    top: 25px;
    left: 230px;
    font-weight: 500;
    font-size: 11px;
    background: $cblue;
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    padding: 2px 20px;
}

.footer{
    font-size: $fz-small;
    line-height: 28px;
    &__inner{
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        .text-blue{
            color:$cblue;
        }
    }
    &__email{
        color: $cblue;
    }
    &__phone{
        font-weight: 900;
        line-height: 45px;
        color: $cblack;
    }
    &__info{
        h3{
            font-weight: 700;
            font-size: $fz-small;
            line-height: 28px;
        }
    }
    &__menu{
        font-weight: 700;
        font-size: $fz-small;
        line-height: 28px;
    }
    &__links{
        position: relative;
        margin: 40px 0;
        line-height: 0px;
        &-inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &>a{
                text-decoration: underline;
                color: $cblack;
            }
        }
        .arrow-top{
            background: $cblue;
            border-radius: 5px;
            padding: 24px 20px;
            position: absolute;
            top: 0px;
            left: 1250px;
        }
    }
    &__links-icons{
        display: flex;
        gap:10px;
        a{   
            background: $cgrey;
            border-radius: 5px;
            svg{
                max-width: 55px;
                max-height: 55px;
                padding: 16px 13px;
  
            }
            &:hover{
                use{
                    fill:$cblue;
                }
            }
        }
    }
    &__bottom{
        background: $cblack;
        border-radius: 5px;   
        color: #FCEC4F;
        &-inner{
            display: flex;
            flex-direction: row;
            justify-content: space-between; 
            p{
                margin: 11px 0;
            }
        } 
    }
}
.text-underline{
    text-decoration: underline;
}
